In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Placement_Data_Full_Class.csv')

In [3]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [4]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [5]:
df['salary'] = df['salary'].fillna(df['salary'].mode()[0])

In [6]:
df.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [7]:
import numpy as np
from sklearn.impute import SimpleImputer

In [8]:
# imputer object using the mean strategy and missing_values type for imputation

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

data = [[12, np.nan, 34], [10, 32, np.nan], [np.nan, 11, 20]]

print("Original Data: \n", data)

Original Data:
 [[12, nan, 34], [10, 32, nan], [nan, 11, 20]]

In [9]:
imputer = imputer.fit(data)

# imputing data
data = imputer.transform(data)

print('Imputed Data: \n', data)

Imputed Data:
 [[12.  21.5 34. ]
 [10.  32.  27. ]
 [11.  11.  20. ]]