In [3]:
import pandas as pd

In [1]:
sample_data = {
    "weekdays": ["sunday", "monday", "tuesday"],
    "test_score": [10, 30, 20]
}

In [4]:
df = pd.DataFrame(sample_data)

In [5]:
df

  weekdays  test_score
0   sunday          10
1   monday          30
2  tuesday          20

In [6]:
df.loc[0]

weekdays      sunday
test_score        10
Name: 0, dtype: object